###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               SAMPLEHOST
    alias                   Sample Host
    address                 SAMPLEHOST.ADDRESS
}


###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     MySQL
    check_command           check_nrpe!check_mysql
}

# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     HTTP
    check_command           check_http
}

define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     SMTP
    check_command           check_smtp!-S
}

define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     SMTP 587
    check_command           check_smtp!-p 587 -S
}

define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     IMAP
    check_command           check_imap
}

define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     SIMAP
    check_command           check_simap
}

define service {

    use                     generic-service           ; Name of service template to use
    host_name               SAMPLEHOST
    service_description     Sample TCP
    check_command           check_tcp!8080
}
